
@font-face {
    font-family: impressive_i;
    src: url("update/font/Impressive-Italic.otf");

}
@font-face {
    font-family: impressive_r;
    src: url("update/font/Impressive-Regular.otf");

}
@font-face {
    font-family: subtitle;
    src: url("update/font/subtitle.ttf");

}
@font-face {
    font-family: ginebra;
    src: url("update/font/ginebra_font.ttf");

}
@font-face {
    font-family: title;
    src: url("update/font/title.ttf");
}
@font-face {
    font-family:title2;
    src: url("update/font/leaguereg.otf");
}
@font-face {
    font-family:adamina;
    src: url("update/font/Adamina-Regular.ttf");
}
@font-face {
    font-family:aller_r;
    src: url("update/font/Aller_Std_Rg.ttf");
}
@font-face {
    font-family:aller_b;
    src: url("update/font/Aller_Std_Bd.ttf");
}

.subscribe{
    text-align: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 1%;
    padding-bottom: .5%;
    display: inline-block;

}
.back{
    background-color: black;
    width: 100%;
    height: 10%;
}
.subscribe p{
    font-family: aller_r;
    color: white;
}

.subscribe h5{

    font-family: ginebra;
    font-size: 3vh;
    color: #101820ff;
}
.subscribe h4{

    font-family: ginebra;
    font-size: 5vh;
    color: #101820ff;

}

.container{
    width: 100%;
    padding-left: 10px;
    padding-right: 3px;
    text-align: center;
}
.collapsible {
    background-color: #101820ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: yellow;
    color:black;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
}

.content p{
    color:#101820ff;
    font-size: 2vh;
    padding-top: .5%;
}
h5{

}