.navcontainer{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

@font-face {
    font-family: subtitle;
    src: url("font/subtitle.ttf");

}


@font-face {
    font-family: ginebra;
    src: url("font/ginebra_font.ttf");

}

@font-face {

    font-family: title;
    src: url("font/title.ttf");
}

@font-face {
    font-family:title2;
    src: url("font/leaguereg.otf");
}


@font-face {
    font-family:adamina;
    src: url("font/Adamina-Regular.ttf");
}

@font-face {
    font-family:aller_r;
    src: url("font/Aller_Std_Rg.ttf");
}

@font-face {
    font-family:aller_b;
    src: url("font/Aller_Std_Bd.ttf");
}
